body {
  margin:0;
  overflow:hidden;
  height:100vh;
  background: linear-gradient(180deg,#000d33,#003366,#66b3ff);
  background-size:400% 400%;
  animation: melt 6s ease-in-out infinite alternate;
  cursor:none;
  font-family:'Comic Sans MS', cursive;
}
.title {
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  font-size:4em;
  color:orange;
  text-shadow:0 0 20px pink,0 0 35px red;
  cursor:pointer;
  z-index:10;
}
@keyframes melt {
  0%{background-position:0% 0%;}
  100%{background-position:100% 100%;}
}
.instruments {
  position:absolute;
  bottom:20px;
  width:100%;
  text-align:center;
  font-size:2.5em;
  color:white;
}
.fish-buttons {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.fish {
  position:absolute;
  font-size:2.5em;
  background:none;
  border:none;
  cursor:pointer;
  animation:bob 2s ease-in-out infinite alternate;
}
@keyframes bob {
  0%{transform:translateY(0px);}
  100%{transform:translateY(-10px);}
}
.fish:nth-child(1){top:-150px; left:-50px;}
.fish:nth-child(2){top:-100px; left:150px;}
.fish:nth-child(3){top:50px; left:200px;}
.fish:nth-child(4){top:150px; left:50px;}
.fish:nth-child(5){top:150px; left:-150px;}
.fish:nth-child(6){top:50px; left:-250px;}
.fish:nth-child(7){top:-100px; left:-200px;}
#cursor {
  position:fixed;
  pointer-events:none;
  font-size:2em;
  transform:translate(-50%,-50%);
  z-index:1000;
}
